.DayPicker {
  >.days {
    display: flex;

    >.day {
      margin: auto;

      opacity: 0.7;

      text-align: center;
      color: rgba(black, 0.5);

      b {
        display: block;
        font-weight: bold;
        color: black;
      }

      &--active {
        opacity: 1;
      }
    }
  }

  >.theaters {

  }
}
