.Movie > .details {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; }
  .Movie > .details > .picture {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2); }
  .Movie > .details > .metadata {
    padding-left: 10px; }

.Movie > .day-picker .DayPicker {
  overflow: hidden; }
